body{
    background-image: url("background.jpg");
    background-size: cover;
}

h1{
    text-align: center;
}

tr,th,td{
    border-collapse: collapse;
    border: 2px solid black;
}

.toki_input{
    width: 100px;
    height: 30px;
}

.p_header{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: underline;
}

.update_header{
    float: left;
    padding-right: 500px;
}

.p_body{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.update_body{
    float: left;
    padding-right: 220px;
    margin-top: 0px;
}

.update_form{
    float: left;
    padding-right: 600px;
}

.buttons{
    width: 130px;
    height: 36px;
}

.display_table{
    border-collapse: collapse;
    border: 2px solid black;
}