body{
    background-image: url("background.jpg");
    background-size: cover;
}

h1{
    text-align: center;
}

.toki_input{
    width: 100px;
    height: 30px;
}

.p_style{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.buttons{
    width: 130px;
    height: 36px;
}