<html>
    <head>
        <title> Cleared Database </title>
        <link href="stylesheets/a2style.css" rel="stylesheet" type="text/css">
        <script>
            function goBack(){
                window.history.back();
            }
        </script>
    </head>
    <body>

        <p class="p_body">
            The database has been cleared and is now empty.
        </p>

        <p class="p_body"> 
            Press the button below to return to the main page. 
        </p>
        <button onclick="goBack()"> Main Page </button>

    </body>
</html>