<!DOCTYPE html>
<html>
    <head>
        <link href="stylesheets/a2style.css" rel="stylesheet" type="text/css">
    </head>

    <script>
        function uppercase(text){
            setTimeout(function(){
                text.value = text.value.toUpperCase();
            }, 1);
        }
    </script>

    <body>
        <h1> TokiDex </h1>
        <p class="p_header">
            INSERT TOKIMON
        </p>
        <p class="p_body">
            Use the following form to insert a new Tokimon into the database!
            <br>
            Keep in mind that if any of the numeric fields are left blank, they will default to 0.
            If either name field is blank, they will stay blank in the database.
        </p>
        <form action="/insert" method="POST" autocomplete="off">
            <input type="text" name="tokiName" placeholder="Tokimon's Name" class="toki_input" onkeydown="uppercase(this)">
            <input type="text" name="tokiWeight" placeholder="Tokimon's Weight" class="toki_input" onkeydown="uppercase(this)">
            <input type="text" name="tokiHeight" placeholder="Tokimon's Height" class="toki_input" onkeydown="uppercase(this)">
            <input type="text" name="tokiFly" placeholder="Fly Power" class="toki_input" onkeydown="uppercase(this)">
            <input type="text" name="tokiFight" placeholder="Fight Power" class="toki_input" onkeydown="uppercase(this)">
            <input type="text" name="tokiFire" placeholder="Fire Power" class="toki_input" onkeydown="uppercase(this)">
            <input type="text" name="tokiWater" placeholder="Water Power" class="toki_input" onkeydown="uppercase(this)">
            <input type="text" name="tokiElectric" placeholder="Electric Power" class="toki_input" onkeydown="uppercase(this)">
            <input type="text" name="tokiIce" placeholder="Ice Power" class="toki_input" onkeydown="uppercase(this)">
            <input type="text" name="tokiTrainer" placeholder="Trainer's Name" class="toki_input" onkeydown="uppercase(this)">
            <br> <br>
            <input type="submit" value="Insert Tokimon" class="buttons">
        </form>

        <p class="update_header p_header">
            UPDATE TOKIMON
        </p>

        <p class="p_header">
            DELETE TOKIMON
        </p>

        <p class="update_body p_body">
            Use the following form to update an existing Tokimon's attributes!
            <br>
            Enter the Tokimon's name and select the one you wish to update.
        </p>

        <p class="p_body">
            Use the following form to delete an existing Tokimon!
            <br>
            Enter the Tokimon's name and select the one you wish to delete.
        </p>

        <form action="/getIDUpdate" method="POST" autocomplete="off" class="update_form">
            <input type="text" name="updateTokimon" placeholder="Tokimon's Name" class="toki_input" onkeydown="uppercase(this)">
            <br> <br>
            <input type="submit" value="Update Tokimon" class="buttons">
        </form>
        
        <form action="/getIDDelete" method="POST" autocomplete="off">
            <input type="text" name="deleteTokimon" placeholder="Tokimon's Name" class="toki_input" onkeydown="uppercase(this)">
            <br> <br>
            <input type="submit" value="Delete Tokimon" class="buttons">
        </form>

        <p class="p_header">
            DISPLAY TOKIMONS
        </p>

        <p class="p_body">
            Click on the following button to display all Tokimon and information currently in the database!
        </p>

        <form action="/display" method="GET" autocomplete="off">
            <input type="submit" value="Display Tokimons" class="buttons">
        </form>

        <p class="p_body">
            Click on the following button to display all Tokimon names and ID!
            <br>
            There will be links to click on to display all information on a specific Tokimon.
        </p>

        <form action="display_names" method="GET" autocomplete="off">
            <input type="submit" value="Display Names/IDs" class="buttons">
        </form>

        <p class="p_header">
            CLEAR DATABASE
        </p>
        <p class="p_body">
            Click on the following button to clear the database and delete all Tokimons!
            <br>
            Keep in mind this cannot be undone.
        </p>
        <form action="/clear" method="POST" autocomplete="off">
            <input type="submit" value="Clear Database" class="buttons">
        </form>

    </body>
</html>